<div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
  </div>

  <div class="right-info">
    <h1>Welcome to the Amusement Park!</h1>
    <div class="center">
      <a class="btn btn-primary" href="/users/new">Sign up</a>
      <a class="btn btn-primary" href="/users/login">Sign in</a>
      <br>
      <br>
      <a href="/users/login">I am an user</a>
    </div>
  </div>

</div>