<div class="center">
  <div class="pic">
    <img src="http://<%= @owner.name.gsub(" ", "") %>.jpg.to/" height="250">
  </div>

  <div class="info">
    <p><strong>Name:</strong> <%= @owner.name %></p>
  </div>
</div>

<br>
  
<div class="center">
  <a href="/attractions/new"><div class="btn btn-primary">Make new attraction</div></a>
  <a href="/attractions"><div class="btn btn-primary">See all attractions</div></a>
</div>