// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-pic {
  float: left;
  position: relative;
  margin: 5px;
}

.right-info {
  margin: 5px;
  float: left;
  position: relative;
  height:325px;
  width: 550px;
  background-color: #EEEEEE;
  text-align: center;
  padding: 80px 60px 20px 60px;
  border-radius: 7px;
}